<div th:replace="fragments/header">
</div>
	<div class="jumbotron">
		<center>
			<p><h2>ERROR</h2></p>
			<h2 th:text="${error_msg}"></h2>
		</center>
	</div>
<div th:replace="fragments/footer"></div>